<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/user/IdeaProjects/NEW_AmazonProject">

        <groups>
            <run>
                <include name="SmokeTest"/>
            </run>
        </groups>
        <classes>
        </classes>

    </test>

    <test thread-count="5" name="Submit Order Test">
        <classes>
            <class name="LandingPageTest"/>
            <class name="VerifySignInPageTest"/>
        </classes>
    </test> <!-- Test -->
</suite>